body {
    width: 100%;
    position: relative;
    
}

.start-button {
    background-color: #035AA6;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px
}

#question-container{
    width: 50%;
    text-align: center;
    margin: 100px auto;
}

#timeclock{
    margin: 0;
    position: absolute;
    right: 15px;
    top: 0;
}