body {
    width: 100%;
    position: relative;
    
}

.start-button {
    background-color: #035AA6;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px
}

#question-container{
    width: 50%;
    text-align: center;
    margin: 100px auto 5px;
}

h4{
    margin: 0;
    position: absolute;
    right: 15px;
    top: 0;
}

#answerStatus {
    text-align: center;
    margin-left: 40px;
    color: #035AA6

}

button{
    background-color: #035AA6;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.endButton{
background-color: red;
margin-left: 10px;
}

